.choose-wrapper {
    width: 100%;
}

.heading-wrapper {
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading-wrapper h1 {
    color: #fff;
	font-family: Inter;
	font-size: 54px;
	font-style: normal;
	font-weight: 600;
	line-height: 143.023%;
	width: 437px;
	height: 77px;
}

.box-wrapper {
    display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 50px;
}

.box-container {
	width: 359px;
	height: 377px;
	flex-shrink: 0;
	border-radius: 14px;
	border: 1.4px solid rgba(255, 255, 255, 0.1);
	background: #1d1d1d;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	justify-content: space-evenly;
	margin-left: 20px;
	margin-right: 20px;
}

.box-container h4 {
	color: var(--pure-white, #fff);
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 100% */
	width: 215px;
	height: 24px;
}

.box-container p {
	color: var(--pure-white, #fff);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 162.523%; /* 22.753px */
	opacity: 0.3;
}

.img-wrapper {
	background-color: var(--color-white);
	border-radius: 50%;
	width: 101px;
	height: 101px;
	flex-shrink: 0;
	stroke-width: 1.4px;
	stroke: rgba(25, 25, 25, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-wrapper img {
	object-fit: contain;
	width: 51.7px;
	height: 49px;
}

.read-button {
	width: 121px;
	height: 43px;
	flex-shrink: 0;
	border-radius: 23.5px;
	background:var(--color-primary);
	border: 1px solid var(--color-primary);
	cursor: pointer;
}