.hero-content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.left-wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
}

.header-text-wrapper {
  margin-bottom: 25px;
}

.header-text-wrapper h1 {
  width: 571px;
  color: var(--color-white);
  font-family: Inter;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.523%;
  color: var(--color-white);
  font-family: Inter;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.523%;
}

.description-wrapper {
  margin-bottom: 25px;
}

.description-wrapper p {
  width: 560px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.523%;
  opacity: 0.3;
}

.input-container {
    width: 438px;
	height: 74px;
	flex-shrink: 0;
	border-radius: 43px;
	background: #1d1d1d;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 7px;
}

.input-container input{
    color: var(--color-white);
	text-align: center;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 162.523%;
	background: #1d1d1d;
	border: none;
}

.submit-button button{
    width: 137px;
	height: 62px;
	flex-shrink: 0;
	border-radius: 43px;
	background: var(--color-primary);
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 162.523%;
	border: 1px solid var(--color-primary);
    cursor: pointer;
}

.hero-img {
    width: 467.71px;
	height: 467.71px;
	flex-shrink: 0;
	border-radius: 55px;
	background: var(--color-primary);
	position: relative
}

.img-container {
    position: absolute;
	width: 443.511px;
	height: 509.069px;
	flex-shrink: 0;
	bottom: 0px;
}

@media only screen and (max-width: 768px) {
	.hero-content-wrapper {
		flex-direction: column;
	}

	.header-text-wrapper {
		display: none;
	}

	.description-wrapper {
		display: none;
	}

	.input-container {
		margin-bottom: 75px;
	}
}